<!DOCTYPE html>

<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />

    <script src="~/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/bootstrap-hover-dropdown.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        // very simple to use!
        $(document).ready(function () {
            $('.dropdown-toggle').dropdownHover();
        });
    </script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!--[if (lt IE 9) & (!IEMobile)]>
            <script src="@Url.Content("~/js/vendor/respond.min.js")"></script>
    <![endif]-->

    <header role="banner">
        <div class="topheader">
            <div class="container">
                <div class="col-sm-6 banner-brand">
                    <img src="@Url.Content("~/img/newtech_logo.gif")" />
                </div>
                <div class="utility-nav">

                </div>
            </div>
        </div>

        <nav role="navigation" class="navbar navbar-static-top navbar-default">
            <div class="container">
                <div class="navbar-header">
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href='@Url.Action("Index", "Home")'><span class="icon fa fa-home"></span> 首页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">服务项目 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("我们的服务", "OurServices", "Service")</li>
                                <li>@Html.ActionLink("应用程序开发", "ApplicationDevelopment", "Service")</li>
                                <li>@Html.ActionLink("Web网站开发", "WebDevelopment", "Service")</li>
                                <li>@Html.ActionLink("系统迁移", "SoftwareMigration", "Service")</li>
                                <li>@Html.ActionLink("应用程序维护", "ApplicationMaintenance", "Service")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">技术专长 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Microsoft .NET", "MicrosoftDotNet", "Technology")</li>
                                <li>@Html.ActionLink("Java 开发", "JavaDevelopment", "Technology")</li>
                                <li>@Html.ActionLink("PHP/MySQL", "PhpMySql", "Technology")</li>
                                <li>@Html.ActionLink("Sharepoint 开发", "SharepointDevelopment", "Technology")</li>
                                <li>@Html.ActionLink("iPhone 开发", "iPhoneDevelopment", "Technology")</li>
                                <li>@Html.ActionLink("其他技术", "OtherTechnology", "Technology")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("产品介绍", "Index", "Portfolio")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">关于我们 <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("公司介绍", "Company", "AboutUS")</li>
                                <li>@Html.ActionLink("我们的优势", "WhyNewTech", "AboutUS")</li>
                                <li>@Html.ActionLink("远景与价值", "VisionAndValue", "AboutUS")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("联系我们", "Index", "ContactUS")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    @RenderSection("Carousel", false)

    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            var alert = TempData["message"] as AlertMessage;
            <div class="@alert.CategoryCSS alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@alert.Category.ToString(): </strong> @alert.Message
            </div>
        }

        @RenderBody()


    </div>
    <footer>
        <div class="container">
            <div class="col-md-9">
                <div class="footlink">
                    @Html.ActionLink("首页", "Index", "Home")
                    <span>|</span>
                    @Html.ActionLink("服务项目", "OurService", "Service")
                    <span>|</span>
                    @Html.ActionLink("技术专长", "MicrosoftDotNet", "Technology")
                    <span>|</span>
                    @Html.ActionLink("产品介绍", "Index", "Portfolio")
                    <span>|</span>
                    @Html.ActionLink("关于我们", "Company", "AboutUS")
                    <span>|</span>
                    @Html.ActionLink("联系我们", "Index", "ContactUS")
                </div>
                <div class="footcopyright">
                    Copyright © 2000-2015 NewTech Soft - Software outsourcing and Offshore Software development company. All rights reserved.<br />
                    Sitemap | Articles | Blog | Map | Privacy Statement | Terms & Conditions
                </div>
            </div>
            <div class="col-md-3 text-right">
                <img src="~/img/nasscom-member.png" /><br />
                <img src="~/img/dmca_protected_sml_120m.png" />
            </div>
        </div>
    </footer>
</body>
</html>
