@model NewTech.Web.Models.ProjectViewModel

@{
    ViewBag.Title = Model.Project.Name;
}

<div class="row">
    <div class="col-md-9">
        <h3>@Model.Project.Name</h3>
        <hr class="header-line" />
        <div>
            @Html.Raw(@Model.Project.Contents)
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default no-radius">
            <div class="panel-heading right-panel-heading">
                <h4 class="panel-title">行业分类</h4>
            </div>
            <div class="panel-body" style="padding: 5px 10px 10px 10px;">
                <ul class="unordered">
                    @foreach (var item in Model.ServicedIndustries)
                    {
                        <li>@Html.ActionLink(item.Name, "Index", "Portfolio", new { Industry = item.Id }, null)</li>
                    }
                </ul>
            </div>
        </div>
        <div class="panel panel-default no-radius">
            <div class="panel-heading right-panel-heading">
                <h4 class="panel-title">技术分类</h4>
            </div>
            <div class="panel-body" style="padding: 5px 10px 10px 10px;">
                <ul class="unordered">
                    @foreach (var item in Model.Technologies)
                    {
                        <li>@Html.ActionLink(item.Name, "Index", "Portfolio", new { Technology = item.Id }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>

</div>