@using NewTech.Model;
@{
    ViewBag.Title = "Microsoft .NET";
}


<div>
    <div class="col-md-9">
        <h3>Microsoft .NET开发</h3>
        <hr />
        <h3 class="subtitle">简介</h3>
        <p>
            Microsoft .NET Framework是用于Windows的新托管代码编程模型。它将强大的功能与新技术结合起来，用于构建具有视觉上引人注目的用户体验的应用程序，实现跨技术边界的无缝通信，并且能支持各种业务流程。
        </p>
        <p>
            .NET Framework 旨在实现下列目标：
            <ul class="listing">
                <li>提供一个一致的面向对象的编程环境，而无论对象代码是在本地存储和执行，还是在本地执行但在 Internet 上分布，或者是在远程执行的。 </li>
                <li>提供一个将软件部署和版本控制冲突最小化的代码执行环境。 </li>
                <li>提供一个可提高代码（包括由未知的或不完全受信任的第三方创建的代码）执行安全性的代码执行环境。 </li>
                <li>提供一个可消除脚本环境或解释环境的性能问题的代码执行环境。 </li>
                <li>使开发人员的经验在面对类型大不相同的应用程序（如基于 Windows 的应用程序和基于 Web 的应用程序）时保持一致。 </li>
                <li>按照工业标准生成所有通信，以确保基于 .NET Framework 的代码可与任何其他代码集成。</li>
            </ul>
        </p>
        <p>
            自从微软公司于2002年推出.NET 1.0起，新科软件就开始了.NET技术的开发与应用。至今，Microsoft .NET技术是我们公司使用最广泛、最深入的技术之一。
            我们已经使用.NET开发了超过600个应用程序，涵盖：ASP.net, ASP.net MVC, .NET WPF, .NET WCF, .NET MVVM, SharePoint, BizTalk以及第三方控件库。
        </p>
        <h3 class="subtitle">服务内容</h3>
        <ul class="listing">
            <li>软件升级与重构</li>
            <li>软件定制开发</li>
            <li>软件维护</li>
            <li>动态Web站点开发</li>
            <li>Web 应用的架构设计与开发</li>
            <li>Web 应用的质量保证和测试服务</li>
            <li>Web 应用集成</li>
            <li>基于web的企业应用：CRM、CMS、ERP等</li>
            <li>电子商务：旅游、在线购物应用系统等</li>
        </ul>
        <h3 class="subtitle">专业技能</h3>
        <p>
            我们的开发人员通过如下Microsoft .NET技术来为客户提供软件开发和运维服务：
        </p>
        <ul class="tech-list">
            <li><img src="~/img/microsoft-asp.net.jpg" /></li>
            <li><img src="~/img/microsoft-asp.net-mvc.jpg" /></li>
            <li><img src="~/img/microsoft-wpf.jpg" /></li>
            <li><img src="~/img/microsoft-wcf.jpg" /></li>
            <li><img src="~/img/microsoft-mvvm.jpg" /></li>
            <li><img src="~/img/microsoft-sharepoint.jpg" /></li>
            <li><img src="~/img/microsoft-biztalk.jpg" /></li>
            <li><img src="~/img/microsoft-crm.jpg" /></li>
            <li><img src="~/img/microsoft-sqlserver.jpg" /></li>
            <li><img src="~/img/microsoft-ssrs.jpg" /></li>
            <li><img src="~/img/microsoft-crystal-reports.jpg" /></li>
        </ul>
        @Html.Partial("_Experience")
        @Html.Partial("_PortfolioThumbs", (object)ViewBag.ImportantProjects)
        @Html.Partial("_GettingStart")
    </div>
    <div class="col-md-3">
        @Html.Partial("_Technologies")
        @Html.Partial("_QuickLinks")
    </div>
</div>
