@using NewTech.Model;
@{
    ViewBag.Title = "Sharepoint Development";
}


<div>
    <div class="col-md-9">
        <h1>Sharepoint开发</h1>
        <hr />
        <h3 class="subtitle">简介</h3>
        <p>
            SharePoint提供了一个企业的业务解决方案，它利用了企业应用程序集成功能，以及灵活的部署选项和管理工具，将来自不同系统的信息集成到一个解决方案中。这个门户站点使得端到端的合作更为容易，实现了个人、团队和信息的整合、组织和搜索。
        </p>
        <p>
            Sharepoint可以帮助企业用户轻松完成日常工作中诸如文档审批、在线申请等业务流程，同时提供多种接口实现后台业务系统的集成，它将 Office 桌面端应用的优势结合 企业级知识管理、门户管理、人力资源管理、资产管理、协同办公、系统集成、BI商务智能 等需求融为一体，满足不同类型企业的办公需求。
        </p>
        <h3 class="subtitle">服务内容</h3>
        <ul class="listing">
            <li>Sharepoint站点与模板的设计与开发</li>
            <li>定制Webparts开发</li>
            <li>工作流集成</li>
            <li>Active Directory集成</li>
            <li>ASP.NET组件开发</li>
            <li>SharePoint站点创建、部署于托管</li>
            <li>SharePoint应用集成</li>
            <li>系统迁移与重构</li>
            <li>运维支持</li>
        </ul>
        <h3 class="subtitle">专业技能</h3>
        @Html.Partial("TechListSharePoint")

        @Html.Partial("Experience")
        @Html.Partial("PortfolioThumbs", (object)ViewBag.ImportantProjects)
        @Html.Partial("GettingStart")
    </div>
    <div class="col-md-3">
        @Html.Partial("_Technologies")
        @Html.Partial("QuickLinks")
    </div>
</div>
