@using NewTech.Model;
@{
    ViewBag.Title = "ApplicationDevelopment";
}

<div>
    <div class="col-md-9">
        <h1>应用程序维护</h1>
        <hr />
        <h3 class="subtitle">简介</h3>
        <p>
            软件开发与交互并不是软件生命周期的终点，相反，它标志着另一个重要阶段的开始：产品维护。我们所处的世界，技术发展日新月异。所以我们需要对已经建立的软件系统进行维护与改进，以保证它的生命力可以适应技术的革新。
        </p>
        <p>
            <b>“新科软件”的程序维护</b>
        </p>
        <p>
            在新科软件，我们有一个经验丰富的开发/维护团队。我们很好地了解软件开发的复杂性以及业务的变化与多样性。多年的开发与运维经验使我们的产品不仅仅是一个定制的业务解决方案，同时还具备良好的扩展性和可靠性。这样，软件系统的后期维护将会更加轻松。
        </p>
        <h3 class="subtitle">服务内容</h3>
        <ul class="listing">
            <li>应用程序功能添加与改进</li>
            <li>配置管理</li>
            <li>故障诊断与修复</li>
            <li>性能调优</li>
            <li>系统重构/重写，测试与部署</li>
        </ul>
        <p>
            我们的运维服务将会显著减轻客户对于系统优化带来的压力，并保证各项运维操作的合理与安全性，使软件系统能更高效地为企业提供服务。
        </p>
        <h3 class="subtitle">专业技能</h3>
        <p>
            我们对使用如下技术开发的软件系统提供维护服务：
        </p>
        <h3 class="techhead">微软技术(Microsoft Technologies)</h3>
        @Html.Partial("TechListMicrosoft")
        <h3 class="techhead">开源技术(Open Source Technologies)</h3>
        @Html.Partial("TechListOpenSource")
        <h3 class="techhead">Java开发(Java Technologies)</h3>
        @Html.Partial("TechListJava")
        <h3 class="techhead">Oracle开发(Oracle Technologies)</h3>
        @Html.Partial("TechListOracle")
        <h3 class="techhead">iOS开发(iOS Technologies)</h3>
        @Html.Partial("TechListiOS")
        <h3 class="techhead">Android开发(Android Technologies)</h3>
        @Html.Partial("TechListAndroid")

        @Html.Partial("Experience")
        @Html.Partial("PortfolioThumbs", (object)ViewBag.ImportantProjects)
        @Html.Partial("GettingStart")
    </div>
    <div class="col-md-3">
        @Html.Partial("_Services")
        @Html.Partial("QuickLinks")
    </div>
</div>
