@using NewTech.Model;
@{
    ViewBag.Title = "ApplicationDevelopment";
}

<div>
    <div class="col-md-9">
        <h3>定制应用程序开发</h3>
        <hr />
        <h3 class="subtitle">简介</h3>
        <p>
            如何在当前激烈的市场竞争中保持自己的优势，是每一家企业所追求的目标。
            通过为企业建立定制的计算机软件，可以简化管理流程以及提升工作效率，并且对企业资源实现信息化的管理，从而显著提高自身企业的竞争力。
            “新科软件”为您提供高品质的软件产品，让您拥有行业的领先优势，为客户的业务发展提供了可靠和高效的技术支持。
        </p>
        <p>
            <b>“新科软件”的定制应用程序开发</b>
        </p>
        <p>
            “新科软件”为客户提供量身定制的解决方案。对于所有的项目开发，我们都会站在客户的角度上进行需求分析和编写设计蓝图。
            在软件开发生命周期（如：需求分析、设计、模型建立、实现和部署）的每一个步骤，都会与客户保持紧密的沟通与交流。确保能够及时的发现所有的问题和降低未知的风险。我们的专业开发团队拥有开发健壮、高效程序的丰富经验。
        </p>
        <h3 class="subtitle">服务内容</h3>
        <ul class="listing">
            <li>软件升级与重构</li>
            <li>软件定制开发</li>
            <li>软件维护</li>
            <li>企业软件与平台集成</li>
            <li>客户端 - 服务器程序开发</li>
            <li>本地 - 云端程序开发</li>
            <li>移动 - 手机应用开发</li>
        </ul>
        <h3 class="subtitle">专业技能</h3>
        <p>
            我们的开发人员通过如下工具和技术来为客户提供软件开发服务：
        </p>
        <h3 class="techhead">微软技术(Microsoft Technologies)</h3>
        <ul class="tech-list">
            <li><img src="~/img/microsoft-asp.net.jpg" /></li>
            <li><img src="~/img/microsoft-asp.net-mvc.jpg" /></li>
            <li><img src="~/img/microsoft-wpf.jpg" /></li>
            <li><img src="~/img/microsoft-wcf.jpg" /></li>
            <li><img src="~/img/microsoft-mvvm.jpg" /></li>
            <li><img src="~/img/microsoft-sharepoint.jpg" /></li>
            <li><img src="~/img/microsoft-biztalk.jpg" /></li>
            <li><img src="~/img/microsoft-crm.jpg" /></li>
            <li><img src="~/img/microsoft-sqlserver.jpg" /></li>
            <li><img src="~/img/microsoft-ssrs.jpg" /></li>
            <li><img src="~/img/microsoft-crystal-reports.jpg" /></li>
        </ul>
        <h3 class="techhead">开源技术(Open Source Technologies)</h3>
        <ul class="tech-list">
            <li><img src="~/img/opensource-mysql.jpg" /></li>
            <li><img src="~/img/opensource-php.jpg" /></li>
        </ul>
        <h3 class="techhead">Java技术(Java Technologies)</h3>
        <ul class="tech-list">
            <li><img src="~/img/java.jpg" /></li>
            <li><img src="~/img/java-ee.jpg" /></li>
            <li><img src="~/img/java-jsp.jpg" /></li>
            <li><img src="~/img/java-servlet.jpg" /></li>
            <li><img src="~/img/java-swing.jpg" /></li>
            <li><img src="~/img/java-spring.jpg" /></li>
            <li><img src="~/img/java-hibernate.jpg" /></li>
            <li><img src="~/img/java-structs.jpg" /></li>
        </ul>
        <h3 class="techhead">Oracle技术(Oracle Technologies)</h3>
        <ul class="tech-list">
            <li><img src="~/img/oracle-database.jpg" /></li>
            <li><img src="~/img/oracle-apex.jpg" /></li>
        </ul>
        <h3 class="techhead">移动技术(Mobile Technologies)</h3>
        <ul class="tech-list">
            <li><img src="~/img/mobile-ios.jpg" /></li>
            <li><img src="~/img/mobile-android.jpg" /></li>
        </ul>
        @Html.Partial("_Experience")
        @Html.Partial("_PortfolioThumbs", (object)ViewBag.ImportantProjects)
        @Html.Partial("_GettingStart")
    </div>
    <div class="col-md-3">
        @Html.Partial("_Services")
        @Html.Partial("_QuickLinks")
    </div>
</div>
