
@{
    ViewBag.Title = "OurServices";
}

<div>
    <div class="col-md-9">
        <h3>我们的服务</h3>
        <hr />
        <p>
            作为一个计算机软件开发服务提供者， “新科软件”始终遵守：为客户提供高质量的软件开发服务，以帮助他们赢得在市场竞争中的优势。
            为此，我们紧跟技术发展的潮流，使用现代化的软件开发平台和工具、以及最先进的项目管理技术和软件开发实践，来为客户提供优质和高效的软件产品。
        </p>
        <p>
            通过结构化和面向标准的技术和IT处理流程，我们简化了软件外包服务的复杂性、降低了项目开发的风险与成本。
            我们为客户开发定制化的软件产品，并帮助他们全程参与软件开发生命周期的每个步骤，包括：项目管理、系统分析与设计、开发、实现、用户培训和软件维护。
        </p>
        <p>
            简而言之，我们优秀的软件技术团队将保证提供的软件开发服务无缝契合您们的业务需求，满足您们的期望。
        </p>
        <p>
            <b>我们为客户提供如下优质服务：</b>
        </p>
        <div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">应用程序开发</div>
                <p>我们的定制软件开发服务包括：定制化的应用程序开发、平台产品设计。</p>
                <p>@Html.ActionLink("应用程序开发 >>", "ApplicationDevelopment", "Service")</p>
                <br />
            </div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">Web程序 | 网站开发</div>
                <p>我们为客户提供低成本、高质量的Web应用程序和门户网站开发服务。</p>
                <p>@Html.ActionLink("Web网站开发 >>", "WebDevelopment", "Service")</p>
                <br />
            </div>
        </div>
        <div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">系统迁移 | 系统升级</div>
                <p>对过时和不能满足业务需求的系统进行迁移与升级，确保其能高效的为企业提供高效的服务。</p>
                <p>@Html.ActionLink("系统迁移 >>", "SoftwareMigration", "Service")</p>
                <br />
            </div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">应用程序维护</div>
                <p>在软件开发部署完成之后，为客户提供持久和优秀的软件维护服务。</p>
                <p>@Html.ActionLink("应用程序维护 >>", "ApplicationMaintenance", "Service")</p>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("_Services")
        @Html.Partial("QuickLinks")
    </div>

</div>