
@{
    ViewBag.Title = "OurServices";
}

<div>
    <div class="col-md-9">
        <h3>我们的服务</h3>
        <hr />
        <p>
            As a software development service provider, TatvaSoft strives to provide our customers quality application development services and web development services that help them to remain in step with their competitors. For this, we use modern software development platforms, application development tools as well as employ latest project management techniques and software engineering practices.
        </p>
        <p>
            Using structured methodologies and proven IT processes helps to reduce complexity, risks and costs associated with offshore software outsourcing services, We help our customers to develop custom software applications and assist them throughout the entire software development Life Cycle, including project management, systems analysis and design, development, implementation, training and application maintenance.
        </p>
        <p>
            In a nutshell our strong technical team can help ensure that the offshore software development services we provide fit your business needs and meet your expectations.
        </p>
        <p>
            <b>我们为客户提供如下优质服务：</b>
        </p>
        <div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">应用程序开发</div>
                <p>Our custom application development services include customized application development as well as product development.</p>
                <p>@Html.ActionLink("应用程序开发 >>", "ApplicationDevelopment", "Service")</p>
                <br />
            </div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">Web程序 | 网站开发</div>
                <p>We provide high quality and cost effective offshore web development services to clients in US, Europe, Australia and Middle East.</p>
                <p>@Html.ActionLink("Web网站开发 >>", "WebDevelopment", "Service")</p>
                <br />
            </div>
        </div>
        <div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">系统迁移 | 系统升级</div>
                <p>Our custom application development services include customized application development as well as product development.</p>
                <p>@Html.ActionLink("系统迁移 >>", "SoftwareMigration", "Service")</p>
                <br />
            </div>
            <div class="col-md-6" style="padding-left:0;">
                <div class="inner-header">应用程序维护</div>
                <p>We provide high quality and cost effective offshore web development services to clients in US, Europe, Australia and Middle East.</p>
                <p>@Html.ActionLink("应用程序维护 >>", "ApplicationMaintenance", "Service")</p>
                <br />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Partial("_Services")
        @Html.Partial("_QuickLinks")
    </div>

</div>