@using NewTech.Model;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section Carousel
{
<div id="carousel-example-generic" class="carousel slide visible-sm visible-md visible-lg" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active ci ci1">
            <div class="container">
                <img src="~/img/ban1-text.png" alt="...">
            </div>
        </div>
        <div class="item ci ci2">
            <div class="container">
                <img src="~/img/ban2-text.png" alt="...">
            </div>
        </div>
        <div class="item ci ci3">
            <div class="container">
                <img src="~/img/ban3-text.png" alt="...">
            </div>
        </div>
        <div class="item ci ci4">
            <div class="container">
                <img src="~/img/ban4-text.png" alt="...">
            </div>
        </div>
        <div class="item ci ci5">
            <div class="container">
                <img src="~/img/ban5-text.png" alt="...">
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
}

<div class="row">
    <div class="col-md-9">
        <div class="row">
            <b>新科软件</b>是一家基于上海的高新软件信息公司，致力于为客户按时提供高质量、可维护和经济的软件产品和服务。我们是一群充满活力和梦想的年轻人和创业者，通过多年的技术积累，获得了丰富的软件开发经验和项目管理能力。想客户之所想，我们通过高品质的软件产品为您提供了行业的领先优势，为客户的业务发展提供了可靠和高效的技术支持。
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-md-4" style="border-right:1px solid #eee">
                <div class="box-title"><span class="sprites ic-services"></span>我们提供的服务</div>
                <ul class="unordered">
                    <li>@Html.ActionLink("系统架构和应用程序开发", "ApplicationDevelopment", "Service")</li>
                    <li>@Html.ActionLink("Web网站开发", "WebDevelopment", "Service")</li>
                    <li>@Html.ActionLink("应用程序维护", "ApplicationMaintenance", "Service")</li>
                    <li>@Html.ActionLink("Microsoft .NET", "MicrosoftDotNet", "Technology")</li>
                    <li>@Html.ActionLink("Java 开发", "JavaDevelopment", "Technology")</li>
                    <li>@Html.ActionLink("PHP/MySQL", "PhpMySql", "Technology")</li>
                    <li>@Html.ActionLink("Sharepoint 开发", "SharepointDevelopment", "Technology")</li>
                    <li>@Html.ActionLink("iPhone 开发", "iPhoneDevelopment", "Technology")</li>
                </ul>
            </div>
            <div class="col-md-4" style="border-right:1px solid #eee">
                <div class="box-title"><span class="sprites ic-services"></span>我们的优势</div>
                <ul class="unordered">
                    <li>客户至上的服务理念</li>
                    <li>超过10年工作经验的开发人员</li>
                    <li>紧跟信息发展潮流</li>
                    <li>追求卓越，永不止步</li>
                    <li>多样化的专业技能和业务知识</li>
                    <li>知识产权的良好保护</li>
                    <li>与客户建立长期稳定的合作关系</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="box-title"><span class="sprites ic-services"></span>技术专长</div>
                <ul class="unordered">
                    <li>.NET Technologies - C#, ASP.NET, VB.NET, SQL Server</li>
                    <li>JAVA & J2EE</li>
                    <li>Oracle Database/Application Express</li>
                    <li>SharePoint server/ MOSS</li>
                    <li>iPhone, Android & Mobile App</li>
                    <li>LAMP/WAMP - PHP, MySql</li>
                    <li>SOA & SaaS</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row" style="margin: 0 0 20px 0;">
            <div class="box-title">我们服务的行业</div>
            @Html.Partial("_IndustryColumns", ViewBag.ServicedIndustries as List<Dict>)
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-toggle="tab" href="#sectionA"><b>我们可以帮组您</b></a></li>
                <li role="presentation"><a data-toggle ="tab" href="#sectionB"><b>项目展示</b></a></li>
                <li role="presentation"><a data-toggle="tab" href="#sectionC"><b>人才招聘</b></a></li>
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active">
                    <div class="tabimg">
                        <img src="~/img/development.png" class="imgbdr" style="width:180px; height:150px;">
                    </div>
                    <a href='@Url.Action("OurService", "Service")'>
                        系统架构和应用程序开发
                    </a>
                    <p>
                        通过为企业建立定制的计算机软件，可以简化管理流程以及提升工作效率，并且对企业资源实现信息化的管理。
                        <b>新科软件</b>为客户提供量身定制的解决方案，以帮助客户在激烈的市场竞争中保持自己的优势。
                    </p>
                    <a href='@Url.Action("OutSourcingPartner", "Service")'>
                        离岸外包合作伙伴
                    </a>
                    <p>
                        不管您是一个拥有丰富行业知识的独立IT顾问，或者是一家软件设计公司。都希望我们能成为紧密的合作伙伴，实现知识和资源的共享与共赢。
                    </p>
                </div>
                <div id="sectionB" class="tab-pane fade">
                    <div class="tabimg">
                        <img src="~/img/development.png" class="imgbdr" style="width:180px; height:150px;">
                    </div>
                    <a href='@Url.Action("Item", "Portfolio", new { Id = 1 })'>
                        Concur Data Conversion
                    </a>
                    <p>
                        Concur是一个为全球企业提供商务旅行和差旅费报销的解决方案。Concur Data Conversion则是我们为美国客户Ingersoll Rand开发的Web系统，用于Concur与公司的ERP系统、银行系统间的数据转换与接口。
                    </p>
                    <a href='@Url.Action("Item", "Portfolio", new { Id = 1 })'>
                        Concur Data Conversion
                    </a>
                    <p>
                        Concur是一个为全球企业提供商务旅行和差旅费报销的解决方案。Concur Data Conversion则是我们为美国客户Ingersoll Rand开发的Web系统，用于Concur与公司的ERP系统、银行系统间的数据转换与接口。
                    </p>
                </div>
                <div id="sectionC" class="tab-pane fade">
                    <div class="tabimg">
                        <img src="~/img/development.png" class="imgbdr" style="width:180px; height:150px;">
                    </div>
                    <a href='@Url.Action("Item", "Portfolio", new { Id = 1 })'>
                        Concur Data Conversion
                    </a>
                    <p>
                        Concur是一个为全球企业提供商务旅行和差旅费报销的解决方案。Concur Data Conversion则是我们为美国客户Ingersoll Rand开发的Web系统，用于Concur与公司的ERP系统、银行系统间的数据转换与接口。
                    </p>
                    <a href='@Url.Action("Item", "Portfolio", new { Id = 1 })'>
                        Concur Data Conversion
                    </a>
                    <p>
                        Concur是一个为全球企业提供商务旅行和差旅费报销的解决方案。Concur Data Conversion则是我们为美国客户Ingersoll Rand开发的Web系统，用于Concur与公司的ERP系统、银行系统间的数据转换与接口。
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default no-radius">
            <div class="panel-heading right-panel-heading request-title">
                <a title="投标申请/报价咨询" href='@Url.Action("RequestForProposal", "Home")'>
                    <span class="icon fa fa-envelope" style="font-size: 20px; margin-right: 10px;"></span>
                    <span class="panel-title">投标申请/报价咨询</span>
                </a>
            </div>
            <div class="panel-heading right-panel-heading callus-title">
                <span class="icon fa fa-phone" style="font-size: 20px; margin-right: 10px;"></span>
                <span class="panel-title">联系我们</span>
            </div>
            <div class="panel-body rsbg">
                <span class="nrmlfont">电话 </span>+1 909 680 3050<br><br>
                <span class="nrmlfont">手机 </span>+61 2 9844 5446<br><br>
                <span class="nrmlfont">Email </span>+44 (0)208 144 9502<br><br>
                <span class="nrmlfont">Website URL </span>+46 (0)851 970 707<br><br>
            </div>
        </div>
        @Html.Partial("QuickLinks")
    </div>
</div>